@import "tailwindcss/components";
/* ---------- import component folder ---------- */
@import "tailwindcss/components";

/* ----------- import utilities folder ---------- */
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&display=swap");

body {
  overflow-x: hidden;
  font-family: "DM Sans", sans-serif;
}
.hideOnDesktop {
  display: none;
}
.hideOnMobile {
  display: block;
}

@media screen and (max-width: 768px) {
  .hideOnDesktop {
    display: block !important;
  }
  .hideOnMobile {
    display: none !important;
  }
}
